body {
    zoom: 50%;
    overflow-x: hidden;
}

.regles {
    top: 100px;
    left: 100px;
    right: 100px;
    transform: translate(0);

    height: unset;
    width: unset;
}

.masterContainer {
    transform: translateX(-30px);
}