body {
    zoom: 50%;
    overflow-x: hidden;
}

.regles {
    top: 100px;
    left: 100px;
    right: 100px;
    transform: translate(0);

    height: unset;
    width: unset;
}

.masterContainer {
    position: absolute !important;
    top: 47%;
    left: 50%;
    transform: translate(calc(-50% - 30px), -50%);
}